@import '../../../styles/mixin.scss';
.m-SingerDetails {
  .m-Singer-Info {
    display: flex;
    .m-Singer-count {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      margin-left: 15px;
      @include sc($font_size_medium, $fc);
      .m-Singer-follow {
        display: flex;
        justify-content: space-between;
        .name {
          @include sc($font_size_large_x, $fc);
          font-weight: 900;
        }
        .followed {
          @include sc($font_size_medium, $fc);
          padding: 8px 10px;
          border: 1px solid $border-gray;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
  .m-Singer-main {
    .m-Album-container {
      @include grid(50px, 150px);
      height: calc(100vh - 400px);
      overflow: auto;
      .m-Album-list {
        @include wh(150px, 150px);
        cursor: pointer;
        .m-Album-avatar {
          @include wh(150px, 150px);
        }
        .m-Album-name {
          display: flex;
          align-items: center;
          @include sc($font_size_medium, $fc);
          width: 100%;
          .count {
            margin-left: 8px;
            @include sc($font_size_small, $fc);
          }
        }
        .m-Album-date {
          @include sc($font_size_medium, $fc);
        }
      }
    }
    .m-MV-container {
      @include grid(50px, 300px);
      height: calc(100vh - 400px);
      overflow: auto;
      .m-MV-list {
        position: relative;
        .video-player {
          @include wh(100%, 180px);
          object-fit: fill;
          cursor: pointer;
        }
        .count {
          position: absolute;
          top: 5px;
          right: 15px;
          @include sc($font_size_medium, #fff);
        }
        .name {
          @include sc($font_size_medium, $fc);
        }
      }
    }
    .m-Info-container {
      height: calc(100vh - 400px);
      overflow: auto;
      .m-Info-brief {
        @include sc($font_size_medium, $fc);
        line-height: 24px;
      }
      .m-Info-details {
        .title {
          @include sc($font_size_large, $fc);
          font-weight: 900;
        }
        .name {
          @include sc($font_size_medium, $fc);
          line-height: 24px;
        }
      }
    }
  }
}
