@import '../../styles/mixin.scss';
.m-Lyric {
  display: flex;
  flex-direction: column;
  align-items: center;
  .m-Lyric-avatar {
    position: relative;
    @include wh(180px, 180px);
    margin-bottom: 15px;
    .avatar-wrapper {
      position: absolute;
      @include wh(180px, 180px);
    }
    .album-wrapper {
      position: absolute;
      left: 10px;
      @include wh(200px, 180px);
    }
  }
  .m-Lyric-info {
    @include sc($font_size_medium, $fc);
    margin-bottom: 15px;
    text-align: center;
    .singer-info {
      margin: 10px 0;
    }
    .author-info {
      display: flex;
      justify-content: center;
      margin: 10px 0;
      @include sc($font_size_medium, $fc);
      &:hover {
        color: $hover-db;
      }
    }
  }
  .m-Lyric-container {
    @include sc($font_size_medium, $fc);
    @include wh(100%, calc(100vh - 410px));
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    .m-Lyric-wrapper {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s ease-out;
      .m-Lyric-line {
        line-height: 34px;
      }
    }
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}
