@import '../../../styles/mixin.scss';
.m-RankList {
  @include wh(100%, 100%);
  .m-RankList-title {
    position: relative;
    height: 150px;
    .list-cover {
      position: absolute;
      top: 0;
      left: 0;
      @include wh(100%, 100%);
    }
  }
  .rank-item {
    display: flex;
    justify-content: space-between;
    @include sc($font_size_medium, $lg);
    line-height: 24px;
  }
  .more {
    text-align: right;
    @include sc($font_size_medium, $lg);
    line-height: 24px;
    cursor: pointer;
  }
}
