@import '../../styles/mixin.scss';
.m-Singer {
  height: calc(100vh - 185px);
  overflow: auto;
  .m-Singer-list {
    @include grid(15px, 150px);
    .item-singer {
      cursor: pointer;
      .item-name {
        @include sc($font_size_medium, $lg);
      }
    }
  }
}
