@import '../../styles/mixin.scss';
.m-SongList {
  position: relative;
  .m-SongList-pop {
    position: absolute;
    top: 30px;
    left: 0;
    @include wh(50%, 300px);
    @include sc($font_size_small, $fc);
    box-shadow: 1px 1px 2px $fc;
    overflow: auto;
    z-index: 9999;
  }
  .m-SongList-wrapper {
    height: calc(100vh - 270px);
    overflow: auto;
  }
}
