@import '../../styles/mixin.scss';
.m-Rank {
  height: calc(100vh - 185px);
  overflow: auto;
  .m-Rank-wrapper {
    @include grid(25px, 300px);
    .m-Rank-list {
      @include wh(300px, auto);
      cursor: pointer;
    }
  }
}
