@import '../../styles/mixin.scss';
.m-Comment {
  .m-Comment-wrapper {
    display: flex;
    flex-direction: column;
    .m-Comment-list {
      display: flex;
      @include wh(100%, 80px);
      margin: 8px 0;
      .m-Comment-avatar-wrapper {
        @include avatar(50px, 50px);
        flex: 0 0 50px;
        margin-right: 10px;
      }
      .m-Comment-content {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }
}