@import '../styles/mixin.scss';
.m-App {
  height: 100vh;
  padding: 0 450px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  .m-App-Content {
    .m-App-Content-l {
      float: left;
      width: 77%;
    }
    .m-App-Content-r {
      float: right;
      width: 23%;
    }
  }
}
