@import '../styles/mixin.scss';
.m-App {
  max-width: 1750px;
  padding: 0 25px;
  margin: 0 auto;
  .m-App-Content {
    display: flex;
    width: 100%;
    .m-App-Content-l {
      flex: 1;
    }
    .m-App-Content-r {
      width: 315px;
      flex: 0 0 315px;
    }
  }
}
