@import '../styles/mixin.scss';
.m-App {
  max-width: 1750px;
  height: 100vh;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $bgc;
  .m-App-Content {
    .m-App-Content-l {
      float: left;
      width: 77%;
    }
    .m-App-Content-r {
      float: right;
      width: 23%;
    }
  }
}
