@import '../../styles/mixin.scss';
.m-SongLists {
  .list-wrapper {
    @include grid(50px, 150px);
    .list-item {
      position: relative;
      @include wh(150px, 150px);
      cursor: pointer;
      .item-tips {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 25px;
        line-height: 18px;
        @include sc($font_size_small, #fff);
      }
      .item-count {
        position: absolute;
        top: 0;
        right: 0;
        @include wh(100%, 25px);
        text-align: right;
        background: linear-gradient(to right, #fff, #000);
        opacity: 0.5;
        @include sc($font_size_small, #fff);
        line-height: 24px;
        .iconfont {
          @include sc($font_size_small, #fff);
        }
      }
      .item-play {
        display: none;
        position: absolute;
        right: 5px;
        bottom: 5px;
        @include sc(24px, #fff);
        .iconfont {
          @include sc(28px, #fff);
        }
      }
      .item-title {
        @include sc($font_size_medium, $fc);
      }
      &:hover {
        .item-count {
          display: none;
        }
        .item-tips {
          display: inline-block !important;
          background: #000;
          opacity: 0.5;
        }
        .item-play {
          display: inline-block !important;
        }
      }
    }
  }
}
