@import '../../styles/mixin.scss';
.m-SongLists {
  .list-wrapper {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    .list-item {
      position: relative;
      @include wh(150px, 150px);
      .item-tips {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        @include sc($font_size_small, #fff);
        background: $bgc;
      }
      .item-count {
        position: absolute;
        top: 0;
        right: 0;
      }
      .item-play {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .item-title {
        @include sc($font_size_medium, $lg);
      }
    }
  }
}
