@import '../../styles/mixin.scss';
.m-Header {
  position: relative;
  @include wh(100%, 60px);
  .m-Header-title {
    @include center();
  }
  .m-Header-user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    min-width: 70px;
    max-width: 90px;
    height: 100%;
    cursor: pointer;
    @include sc($font_size_medium, $lg);
  }
}

.m-Header-form {
  .form-username {
    margin-bottom: 15px;
  }
}
