@import '../../styles/mixin.scss';
.m-Recommend {
  @include wh(100%, calc(100vh - 185px));
  margin-top: -15px;
  overflow: auto;
  .m-Recommend-banner {
    position: relative;
    width: 600px;
    margin: 15px auto;
    .btn-prev {
      @include ct();
      left: 0;
      @include sc(30px, #fff);
      z-index: 100;
    }
    .btn-next {
      @include ct();
      right: 0;
      @include sc(30px, #fff);
      z-index: 100;
    }
  }
}
