@import '../../styles/mixin.scss';
.m-Loading {
  @include allcover();
  @include wh(100%, 100%);
  z-index: 99999;
  background-color: $bgc;
  .m-Loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include wh(100%, 100%);
  }
}
