@import '../../styles/mixin.scss';
.m-Search {
  .m-Search-box {
    .m-Search-hotkeys {
      @include sc($font_size_medium, $fc);
      margin: 10px 0;
    }
    .m-Search-hot {
      display: flex;
      flex-wrap: wrap;
      .key-item {
        padding: 5px 8px;
        border: 1px solid $border-gray;
        border-radius: 3px;
        @include sc($font_size_small, $fc);
        margin: 5px;
        cursor: pointer;
      }
    }
  }
  .m-Search-scroll {
    height: calc(100vh - 340px);
    overflow: auto;
    .m-Search-title,
    .m-Search-result {
      display: flex;
      justify-content: space-around;
      cursor: pointer;
      .item-song {
        flex: 1;
      }
    }
  }
}
