@import '../../styles/mixin.scss';
.m-Player {
  display: flex;
  align-items: center;
  @include wh(100%, 70px);
  position: relative;
  padding-bottom: 10px;
  .m-Player-playBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include sc(26px, $lg);
    cursor: pointer;
  }
  .m-Progress-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 15px;
    .progress {
      flex: 1;
      margin: 0 10px;
    }
  }
  .m-Player-listBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sc(26px, $lg);
    cursor: pointer;
    .m-Player-sound {
      display: flex;
      align-items: center;
      .ant-slider {
        width: 100px;
      }
    }
  }
  .m-History-pop {
    position: absolute;
    right: 0;
    bottom: 60px;
    @include wh(38%, 85vh);
    box-shadow: 1px 1px 2px $dg;
  }
  .btn-center {
    margin: 0 10px;
  }
}
