@import '../../styles/mixin.scss';
.m-Mine-songlist {
  .m-Mine-title {
    @include sc($font_size_medium, $fc_lg);
    line-height: 24px;
    cursor: pointer;
    .m-Mine-icon {
      margin-right: 5px;
    }
    &:hover {
      color: $hover-db;
    }
  }
}
