@import '../../styles/mixin.scss';
.m-History {
  @include wh(100%, 100%);
  background: $bgc;
  .m-History-song {
    .m-History-avatar {
      display: none;
      @include sc($font_size_medium, $hover-db);
      line-height: 24px;
    }
    &:hover {
      color: $hover-db !important;
      .m-History-avatar {
        color: $hover-db !important;
      }
      .ant-list-item-meta-title {
        color: $hover-db !important;
      }
    }
  }
  .ant-tabs-content {
    height: calc(85vh - 56px);
    overflow: auto;
  }
  .ant-tabs-tab,
  .ant-list-item-meta-title,
  .ant-list-item {
    color: $fc_lg !important;
  }
  .ant-list-item {
    padding: 3px 20px;
    cursor: pointer;
  }
}
